{% extends "head.html" %} 

{% block title %}/{{name}}/{% endblock %} 

{% load static %}
{% block content %}

<h2 class="ui centered aligned header">Welcome to /{{name}}/. {{board_data.short_description}}.</h2>

{% for thread in threads %}
<div class="ui raised very padded text container segment"> 
  <a class="ui image label" style="background-color: #f2711c">
  <img src="{% static 'content/anonymous.jpeg' %}">
      {{thread.author}}  
  </a>
  <a style="color: #004A99">#{{thread.id_thread}} - {{thread.content|slice:":20"}}</a>
  <p>{{thread.content|slice:":350"}} {% if thread.content|length > 350 %}... <a style="color: #f2711c">Продолжить чтение</a>{% endif %}</p>
</div>
{% endfor %}
{% endblock %}